*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/entity/target/
/e-store/target/
/e-store-ear/target/
/e-store-ejb/target/
/e-store-war/target/